@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

html {
  font-family: "Lora", serif;
  background-color: rgba(117, 190, 218, 0.5);
}
ul{
  padding:0;
  margin-left: 20px;
}
/*nav bar */
.navbar {
  background-color: #0f2e68;
  position: fixed;
  width: 100%;
  top: 0px;
}
.navbar li {
  display: inline-block;
  color: white;
}
.top {
  background-color: #7fbbff;
  color: rgb(72, 2, 119);
  margin-top: 55px;
  text-align: left;
  padding: 100px 0;
  align-items:center;
   margin-left: 40px;
   padding-top:0px ;
}
.columncontainer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
   height: 310px;
   align-items: stretch;
  background-color:#7fbbff;
  color:rgb(13, 120, 219, 0.5);
  padding-top: 0px;}

.photobox1{
  flex:1;
}
.photobox2{
  flex:1;
}
.photobox3{
flex:1;
}
/*button on image page*/ 
#likebutton {
    margin-top: 180px;
    margin-bottom:10px;
    align-items: normal;
    box-shadow: 10px 10px 5px grey;
    line-height: 3.5;
    font-size: 3rem;
    text-align: center;
    color: rgb(168, 198, 199);
    text-shadow: 2px 2px 2px #000;
    background-color: rgb(33, 143, 170); 
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33;
}
#likebutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/*title box of page 2 */
.gallery{
        margin-top: 50px;
        font:20px;
        width:100px;
        height:100px;
        align-self: auto;

    }
    .textratings{
        display: flex;
        flex-direction: row;
        margin-top: 75px;
        height: 300px;
        padding: 20px;   
        background-color:pink;
        width:100%;
        align-items: center;
        margin-left: 0px;
        justify-content: space-around;
      }
      
      .column{
        flex:1;
        position:relative;
        width: 33%;
        max-width: 300px;}
      
        .columncontainer{
          display:flex;
          justify-content:space-evenly;
        }
    
        .container {
          position:relative;
          width: 100%;
          max-width: 300px;}
      
        .image {
          display: block;
          width: 100%;
          height: auto;
        }
        .overlay {
          position: absolute; 
          bottom: 0; 
          background: rgb(0, 0, 0);
          background: rgba(0, 0, 0, 0.5);
          color: #f1f1f1; 
          width: 100%;
          transition: .5s ease;
          opacity:0;
          color: rgb(204, 171, 160);
          font-size: 20px;
          padding: 10px;
          text-align: center;
        }
        .column:hover .overlay{
          opacity: 1;
        }
        