@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

html {
  font-family: "Lora", serif;
  background-color: rgba(117, 190, 218, 0.5);
}

.navbar {
  background-color: #0f2e68;
  position: fixed;
  width: 100%;
  top: 0px;
 
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
}

.top {
  background-color: #7fbbff;
  color: rgb(72, 2, 119);
  margin-top: 55px;
  text-align: left;
  padding: 100px 0;
}

.top p, h1, button {
   margin-left: 40px;
}

.flexcontainer {
    background-color:#7fbbff;
    color:rgb(13, 120, 219);
    margin-top: 75px;
    text-align: left;
    padding: 100px ;
    
}
  .flexItem {
    padding: 10px;
    border: 5px dashed rgb(20, 16, 218);
  }
  @media (hover: hover)
  {.flexItem1:hover {
      background: rgb(239, 243, 6)
  }
}
@media (hover: hover)
  {.flexItem2:hover {
      background: blueviolet
  }
  }@media (hover: hover)
  {.flexItem3:hover {
      background: rgb(50, 170, 13)
  }
}
.flexItem{
    display: flex;
    flex-direction: row;
    
  }
  .flexItem1{
      flex: 1;
  }
  .flexItem2{
      flex: 1;
  }
  .flexItem3{
      flex: 1;
  }

.flexcontainerimages{
    display: flex;
    flex-direction: row ;
    margin-top: 100px;
    flex-wrap: wrap;
  height: 400px;
  justify-content: space-between;
  text-align: center;

}
.photobox1{
    flex:1;
}
.photobox2{
    flex:1;
}
.photobox3{
flex:1;
}
.photobox4{
    flex:1;
}
#likebutton {
    border: 0;
    margin-top: 600px;
    align-items: center;
    box-shadow: 10px 10px 5px grey;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(24, 41, 194);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), 
}
#likebutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
                

}