.navbar{
    background-color: #0f2e68;
    position: fixed;
    width: 100%;
    top: 0;
}
 
 .navbar li {
     display: inline-block;
    
 }
 
 .top {
    background-color:#7fbbff;
    color:rgb(72, 2, 119);
    margin-top: 75px;
    text-align: left;
    padding: 100px 0;
}
